#mainContent,#drawBox{
	width: 100%;
	height: 100%;
	font-size: 14px;
}
#drawing{
	width: 100mm;
	margin:auto;
}
#myDrawing{
	width: 100%;
}
#drawing .board{
	background-color: #dbdbdb;
    border: 1px solid #ccc;
}
#drawing .board-rad{
	background-color: #dbdbdb;
    border: 1px solid #ccc;
    border-radius: 15px;
}
.board-rect,.board-text,.board-image,.board-line{
	cursor: pointer;
}
#myDrawing {
    width: 370px;
    margin: auto;
}

.tools-panel{
	height: 100%;
	padding-left: 10px;
	background-color: #ced6de;
}
#tools-top .panel-title{
	padding-top: 5px;
	height: 25px;
    line-height: 20px;
    color: #585a5e;
}
.draginput {
    background: #eaf2ff;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    width: 70px;
    height: 70px;
    display: block;
    position: relative;
    float: left;
    margin: 0 8px 5px 0;
}
.draginput.select{
	width: 150px;
    height: 50px;
}
.draginput input {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 14px;
    text-align: center;
    color: #2aaeec;
    padding: 30px 0 24px 0;
    width: 100%;
    position: relative;
    z-index: 2;
}
.draginput span {
    font-size: 12px;
    color: #2aaeec;
    display: block;
    position: absolute;
    top: 0px;
    left: 5px;
    text-align: left;
}
.draginput-button{
	width: 70px;
    height: 30px;
    background-color: #eaf2ff;
    outline: 0;
    border: 0;
    color: #30a6ea;
}
#text-family,#text-row{
	width: 150px;
    height: 50px;
    background-color: #eaf2ff;
    border: 0;
    padding: 20px 10px 10px 10px;
    outline: 0;
    color: #2aaeec;
}
.hidden{
	display: none;
}

#rulers > div {
  position: absolute;
  background: #dbdbdb;
  z-index: 1;
  overflow: hidden;
  -webkit-font-smoothing: none;
}

#rulers #ruler_corner {
  top: 28px;
  left: 0px;
  width: 16px;
  height: 15px;
  border: solid #dbdbdb  1px;
  z-index: 2;
}

#ruler_x {
  height: 18px;
  top: 28px;
  left: 18px;
  right: 0px;
  border-top: solid #dbdbdb 1px;
  border-right: solid #dbdbdb 1px;
}

#ruler_x_cursor {
  height: 15px;
  border-right: dotted #999 1px;
  position: absolute;
  background: #2f2f2c;
}

#ruler_y_cursor {
  width: 15px;
  border-top: dotted #999 1px;
  position: absolute;
  background: #2f2f2c;
}

#rulers.moved #ruler_corner,
#rulers.moved #ruler_x {
  top: 101px;
}

#ruler_y {
  width: 18px;
  top: 45px;
  left: 0px;
  bottom: 0px;
  border-left: solid#dbdbdb 1px;
  border-bottom: solid#dbdbdb 1px;
}

#rulers.moved #ruler_y {
  top: 116px;
}


#ruler_x canvas:first-child {
  margin-left: 2px;
}

#ruler_x canvas {
  float: left;
}

#ruler_y canvas {
  margin-top: 1px;
}

#ruler_x > div, 
#ruler_y > div {
  overflow: hidden;
}
.table-content-box{
	padding:0;
}

.table-content-body {
    position: relative;
    width: 100%;
    height: 100%;
}
.table-content-box{
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.us-left-nav {
    height: 100%;
}
.left-nav-menu {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    background: #b7bdc4;
    height: 100%;
}
.nav-menu li {
    padding: 0 15px;
    line-height: 49px;
    height: 49px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    border-bottom: 1px #9fa5ab solid;
    color: #444;
}
#usNavMenu .nav-icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	cursor: pointer;
}
.icon-text{
	background: url(../img/icon-list.png) 0 -50px;
}
.icon-img{
	background: url(../img/icon-list.png) 0 -125px;
}
.icon-line{
	background: url(../img/icon-list.png) 0 -210px;
}
.icon-linetra{
	background: url(../img/icon-list.png) 0 -150px;
}
.icon-enlarge{
	background: url(../img/icon-list.png) 0 -25px;
}
.icon-narrow{
	background: url(../img/icon-list.png) 0 0px;
}
.icon-save{
	background: url(../img/icon-list.png) 0 -100px;
}
.icon-put{
	background: url(../img/icon-list.png) 0 -75px;
}
/*滚动条*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #ced6de;
}
::-webkit-scrollbar-corner {
    background: #ced6de;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #999;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #ced6de;
}

/*easyui 样式修改*/
.layout-panel-east .panel-header,.layout-panel-west .panel-header{
	background: #9fa4ab;
}
.layout-panel-east .panel-title{
	color: #4d4d4d;
}
.layout-button-right{
	background:url(../img/Ico16-2.png);
}
.layout-button-left{
	background:url(../img/Ico16-3.png);
}
.panel-header .layout-button-right:hover,.panel-header .layout-button-left:hover{
	background-color: #9fa4ab;
}
.layout-expand{
	background-color: #9fa4ab;
}
.layout-panel-center .panel-header{
	background:#b7bdc4 ;
	padding: 0;
	height: 26px;
}
.layout-panel-center .panel-title{
	height: 26px;
	line-height: 26px;
	color: #4d4d4d;
	font-weight: normal;
	overflow: hidden;
}
.layout-panel-center .panel-title ul{
	display: inline-block;
}
.layout-panel-center .panel-title li{
	display: inline-block;
	margin-left: 18px;
}
.layout-panel-center .panel-title .headMsg-content{
	background: #9fa4ab;
	box-sizing: border-box;
	padding: 3px 10px 3px 5px;
	border-top:1px solid #878b91;
	border-right: 1px solid #adb2b9;
	border-bottom: 1px solid #bcc1c8;
	border-left: 1px solid #90949b;
}
.panel-header, .panel-body{
	border-color:#b3b3b3;
}
.layout-split-east{
	border-left:0;
}
.layout-split-west{
	border-right:0 ;
}
#content{
	border-right: 0;
}
.messager-input{
	height: 25px;
    outline: 0;
    line-height: 25;
}
.messager-icon{
	position: relative;
    top: -5px;
}