.map-dialog{
	width: 369px;
	height: 315px;
	position: absolute;
    top: 0;
    left: 0;
	background: url(../img/dialog/dialog-img.png);
}
.map-dialog-title{
	width: 230px;
    float: right;
    height: 57px;
    padding-right: 40px;
    padding-top: 20px;
    text-align: left;
    line-height: 40px;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
}
.map-dialog-center{
	width: 290px;
    float: right;
    height: 137px;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 10px;
    text-align: left;
    line-height: 40px;
    font-size: 16px;
    color: #333;
    overflow: hidden;
}
