.map-dialog{
	width: 369px;
	height: 315px;
	position: absolute;
    top: 0;
    left: 0;
	background: url(../img/dialog/dialog-img.png);
}
.map-dialog-title{
	width: 230px;
    float: right;
    height: 57px;
    padding-right: 40px;
    padding-top: 20px;
    text-align: left;
    line-height: 40px;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
}
.map-dialog-center{
	width: 290px;
    float: right;
    height: 137px;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 10px;
    text-align: left;
    line-height: 40px;
    font-size: 16px;
    color: #333;
    overflow: hidden;
}
.dialog-center-icon{
	display: inline-block;
	width: 17px;
	height: 21px;
	background: url(../img/dialog/icon.png);
	vertical-align: middle;
}
.dialog-center-text{
	color: #fff;
	padding-left: 2px;
	cursor: pointer;
}
.map-dialog-foot{
	float: right;
    text-align: left;
    width: 280px;
    padding-top: 10px;
    color: #02e9ff;
}

.layui-layer.layer-map-dialog .layui-layer-setwin .layui-layer-close.layui-layer-close1{
	background: url(../lib/layer/theme/default/icon.png) no-repeat;
	background-position: 1px -40px;
}
.layui-layer.layer-map-dialog .layui-layer-setwin .layui-layer-max{
	background: url(../lib/layer/theme/default/icon.png) no-repeat;
	background-position: -32px -40px;
}
.layui-layer.layer-map-dialog .layui-layer-setwin .layui-layer-max.layui-layer-maxmin{
	background: url(../lib/layer/theme/default/icon.png) no-repeat;
    background-position: -65px -40px;
}